# Prevent directory browsing
Options -Indexes

# Redirect all non-HTTPS requests to HTTPS
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

####################### For Local ########################

# Set the base directory
RewriteBase /web/php-static-website-boilerplate/

# Redirect .php files to clean URLs
RewriteCond %{THE_REQUEST} \s/web/php-static-website-boilerplate/(.+)\.php [NC]
RewriteRule ^(.+)\.php$ /web/php-static-website-boilerplate/$1 [L,R=301]

# Rewrite clean URLs to .php files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ $1.php [L]

####################### For Local ########################

####################### For Prod ########################

# Set the base directory for production (root of the site)
# RewriteBase /

# # Redirect .php files to clean URLs
# RewriteCond %{THE_REQUEST} \s/([^.]+)\.php [NC]
# RewriteRule ^(.*)\.php$ /$1 [L,R=301]

# # Rewrite clean URLs to .php files
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^(.+)$ $1.php [L]

####################### For Prod ########################

# Restrict access to the config folder
<Files ~ "^config.php$">
    Order Deny,Allow
    Deny from all
</Files>

<Files .htaccess>
    Order Deny,Allow
    Deny from all
</Files>
